In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import API Key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
#file_to_load = "weather_data\cities.scv"
city_data_df = pd.read_csv("weather_data\cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,21-04-10 02:57:42,72.7868,-56.1549,10.09,96,100,12.86
1,1,Sao Joao Da Barra,BR,21-04-10 02:59:59,-21.6403,-41.0511,73.18,71,0,4.76
2,2,Wasilla,US,21-04-10 02:58:17,61.5814,-149.4394,19.99,38,1,9.22
3,3,Champerico,GT,21-04-10 03:02:37,14.3000,-91.9167,66.99,96,34,7.85
4,4,Saskylakh,RU,21-04-10 03:02:37,71.9167,114.0833,-2.27,90,35,1.90

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
#for temp in max_temp:
 #   temps.append(max(temp,0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of % Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]


# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
cloud = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Japura,ID,21-04-10 02:59:33,-0.3167,102.3500,82.58,75,100,3.11
11,11,Rikitea,PF,21-04-10 03:02:39,-23.1203,-134.9692,78.46,74,75,11.70
12,12,Mahibadhoo,MV,21-04-10 03:02:40,3.7833,72.9667,82.38,73,10,4.83
13,13,Bowen,AU,21-04-10 03:02:40,-20.0167,148.2333,87.80,55,5,9.22
17,17,Buchanan,LR,21-04-10 03:02:41,5.8808,-10.0467,75.20,94,20,3.36
...,...,...,...,...,...,...,...,...,...,...
550,550,Alappuzha,IN,21-04-10 03:05:04,9.4900,76.3264,81.14,79,3,4.07
551,551,Opelousas,US,21-04-10 03:05:05,30.5335,-92.0815,75.99,83,90,8.05
558,558,Korhogo,CI,21-04-10 03:05:07,9.4500,-5.6333,79.32,66,92,7.52
559,559,Cockburn Town,TC,21-04-10 03:05:07,21.4612,-71.1419,75.63,61,59,18.25
560,560,Diffa,NE,21-04-10 03:05:08,13.3154,12.6113,82.38,7,98,9.84

In [31]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [33]:
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5       Japura      ID     82.58  -0.3167  102.3500
11     Rikitea      PF     78.46 -23.1203 -134.9692
12  Mahibadhoo      MV     82.38   3.7833   72.9667
13       Bowen      AU     87.80 -20.0167  148.2333
17    Buchanan      LR     75.20   5.8808  -10.0467
18        Hilo      US     78.80  19.7297 -155.0900
24       Kapaa      US     75.20  22.0752 -159.3190
25      Osmena      PH     82.44  10.5208  119.9258
28    Dehloran      IR     76.14  32.6941   47.2679
29       Kidal      ML     81.54  18.4411    1.4078

In [35]:
#url = https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
# Set parameters to search for a hotel.
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Japura,ID,82.58,-0.3167,102.3500,Rumah mbah Jamah
11,Rikitea,PF,78.46,-23.1203,-134.9692,Pension Maro'i
12,Mahibadhoo,MV,82.38,3.7833,72.9667,Omadhoo Inn
13,Bowen,AU,87.80,-20.0167,148.2333,Castle Motor Lodge Motel
17,Buchanan,LR,75.20,5.8808,-10.0467,Kamaneahn Hotel Inc
18,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
24,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
25,Osmena,PH,82.44,10.5208,119.9258,Arjemarkyza Lodge
28,Dehloran,IR,76.14,32.6941,47.2679,کافه گیم استورم
29,Kidal,ML,81.54,18.4411,1.4078,
32,Kahului,US,78.80,20.8947,-156.4700,
39,Bambous Virieux,MU,78.51,-20.3428,57.7575,Casa Tia Villa
41,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort
42,Bubaque,GW,76.60,11.2833,-15.8333,"Casa Dora, Bubaque"
48,Faanui,PF,82.58,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
49,Marawi,PH,84.00,7.9986,124.2928,Derogongan Residence
53,Nam Som,TH,89.01,17.7704,102.1895,โรงแรมวุฒิโชค น้ำโสม ที่พักไกล้วัดป่าภูก้อน รา...
55,Puerto Ayora,EC,75.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
58,Noumea,NC,82.40,-22.2763,166.4572,Hôtel Le Lagon
62,San Cristobal,VE,78.80,7.7669,-72.2250,Posada Villaven C.A.

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index , row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))